/*
 *Originally from https://github.com/victa/path-menu
 */

@import "animation";

/************ Variables ************/
/*
  Tweak these variables to customize your navigation!
*/
$items: 5;                    // Number of navigation items
$arc: 100;                    // Arc of the circle, in degrees
$angle: $arc/$items;          // Angle between items, in degrees
$space: 100;                  // The distance between the button and the nav items, in pixels
$circleCenterX: 30;           // The X coord of the button center, in pixels
$circleCenterY: 30;           // The Y coord of the button center, in pixels
$disapperance-delay: 80;      // The delay between hitting the button and the fly-in animation, in milliseconds
$fly-out-duration: 200;       // The duration of the fly-out animation, in milliseconds

#menu{display:none;}                                                  
#menu:checked ~ label .circle {
    @include transform(rotate(0deg));   
}      

// Red button
.circle-container {
    position: fixed;
    bottom: $standard-margin;
    left: $standard-margin;
    height: $standard-margin*4;
    width: $standard-margin*4;
    @include box-shadow(0 0 $standard-margin rgba(0,0,0,0.7));
    @include border-radius($standard-margin*2);
    z-index: 1;
    .circle {
        position: fixed;
        bottom: $standard-margin;
        left: $standard-margin;
        height: $standard-margin*4;
        width: $standard-margin*4;
        cursor: pointer;      
        border: 0px;
        font-size: $standard-margin*3;
        line-height: $standard-margin*4;
        text-align: center;
        color: white;       
        padding: 0px;
        @include transition(all .2s linear);
        @include background-image(linear-gradient(#e85738, #cb2c16));            
        @include box-shadow(0 0 0 4px white, 0 0 0 $standard-margin/2 rgba(0,0,0,0.3));       
        @include border-radius($standard-margin*2);     
        @include transform-style(preserve-3d);     
        @include appearance(none);   
        @include transform(rotate(45deg)); 
        &:active:before {
           content: "";    
           display: block;
           position: absolute;
           top: -$standard-margin/2;
           right: -$standard-margin/2;
           bottom: -$standard-margin/2;
           left: -$standard-margin/2;
           background: rgba(0,0,0,0.3);
           pointer-events: none;
           @include border-radius($standard-margin*5/2);    
        }
    }
}    
   
// Navigation Items
.items li {
    position: fixed;
    bottom: $standard-margin*2;
    left: $standard-margin*2;
    display: block;
    height: 26px;
    width: 26px;
    color: white;
    text-align: center;
    line-height: 26px;
    font-size: 18px;
    @include box-shadow(0 0 0 4px white, 0 0 0 5px rgba(0,0,0,0.3), inset 0 0 1px black);
    @include background-image(linear-gradient(#433f3c, #44403d));                
    @include border-radius(13px);     
    @include transform-style(preserve-3d);
    a {
      display: block;
      img {
        max-height: 22px;
        max-width: 22px;
      }
    }
}

/************ CSS3 Animations ************/
// Generate item positions and keyframe animations
@for $i from 1 through $items {                         
    
    $rad: ( $angle * ($i - 1) + $angle/2 ) * (pi()/180);
    $x:round(($circleCenterX + $space) * cos($rad) );
    $y:round(-($circleCenterY + $space) * sin($rad) );   
                            
    // Coords for the rebound during the animation
    $xm: round($x * 1.15);
    $ym: round($y * 1.15);                           
    
    $disapperance-delay: $disapperance-delay * 1.35;
     
    // CSS checkbox + label tricks
    #menu:checked ~ .items li:nth-child(#{$i}) {
        @include animation-name(appear-#{$i});
        @include animation-duration($fly-out-duration + ms);
        @include animation-iteration-count(1);
        @include animation-fill-mode(forwards); 
        @include  animation-delay((20 * $i)+ms);         
    }       
    
    #menu:not(:checked) ~ .items li:nth-child(#{$i}) {
        @include animation-name(disappear-#{$i});
        @include animation-duration((320 + $disapperance-delay)+ms);
        @include animation-iteration-count(1);
        @include animation-fill-mode(forwards);          
    }                             
                  
    // Animation keyframes                    
    @include keyframes(appear-#{$i}) {
        0% {
           @include transform(translate3d(0, 0, 0px)  rotateZ(270deg));        
           @include  animation-timing-function(cubic-bezier(1,.6,.57,.75));
        }             
        80% {
            @include  animation-timing-function(cubic-bezier(.45,.97,.51,.78));
            @include transform(translate3d($xm+px, $ym+px,0px) rotateZ(0deg)); 
        }
        100% {
            @include transform(translate3d($x+px, $y+px,0px));      
        }
    }
    
    @include keyframes(disappear-#{$i}) {
        0% {
            @include transform(translate3d($x+px, $y+px,0px) rotateZ(0deg));
            @include  animation-timing-function(cubic-bezier(1,.6,.57,.75));
        }                                          
        70% {                                                          
            @include transform(translate3d($xm+px, $ym+px,0px) rotateZ(360deg));
            @include  animation-timing-function(cubic-bezier(.45,.97,.51,.78));
        }
        100% {
            @include transform(translate3d(0,0,0px) rotateZ(540deg));        
        }
    }     

}