// Site-wide styles go here
// What shouldn't go here
//   - global declartive classes, mixins, or variables, that goes in -lib.scss

//@import "bourbon/_bourbon";  //Bourbon conflicts with Compass
@import "compass/css3";
@import "slicknav/_slicknav";

$standard-margin: 10px;

/************ Twitter Bootstrap Overrides ************/
body {
  padding-top: 35px;
}
.container {
  width: auto;
  padding-left: $standard-margin;
  padding-right: $standard-margin;
}

.row {
  margin-left: 0;
}

.span2, .span10, .span12 {
  width: auto;
}

[class*="span"] {
  margin-left: 0;
  float: none;
}

.btn {
  display: block;
  margin-top: $standard-margin/2;
  margin-bottom: $standard-margin/2;
}

.well {
  padding: $standard-margin;
}

textarea, select, .uneditable-input {
  width: 100%;
}

@media only screen and (min-width: 321px) {
  input {
    width: 450px;
  }
}
@media only screen and (max-width: 320px) {
  input {
    width: 290px;
  }
}

input[type="button"], input[type="reset"], input[type="submit"] {
  width: 100%;
}

.form-actions {
  padding-left: 0;
  padding-right: 0;
}

/************ Global Styles ************/
.mw_extend_me {
  width: 100%;
}