footer.mw_footer {
  padding-left: $standard-margin;
  padding-right: $standard-margin;
  .mw_shoutout {
    margin-bottom: -$standard-margin;
    float: right;
    text-align: right;
    span {
      margin-right: $standard-margin/2;
    }
  }
}